body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

#racing-track {
    background-color: #72c999;
    height: 50vh;
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(20, 1fr);
    border-radius: 5px;
}

#number-one {
    grid-row-start: 1;
    grid-column-start: 1;
}

#number-two {
    grid-row-start: 2;
    grid-column-start: 1;
}

#number-three {
    grid-row-start: 3;
    grid-column-start: 1;
}

#number-one, #number-two, #number-three {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
    color: white;
}

.modal {
    display: none;
    background-color: #f6f6f6;
}
/* Nur während das Backend im Development ist */


#title{
    position: absolute;
    top: 20px;
    color: #1b1b1b;
}

#smallTitle {
    position: absolute;
    top: 70px;
    color: #797979;
    opacity: .80;
}

/* Richtige Styles wenn das Front-End erstellt wird */