body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

/* Headings */

#title{
    position: absolute;
    top: 20px;
    color: #1b1b1b;
}

#smallTitle {
    position: absolute;
    top: 70px;
    color: #797979;
    opacity: .80;
}

/* Racing Track */

#racing-track {
    background-color: #72c999;
    height: 50vh;
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(20, 1fr);
    border-radius: 5px;
}

#number-one {
    grid-row-start: 1;
    grid-column-start: 1;
}

#number-two {
    grid-row-start: 2;
    grid-column-start: 1;
}

#number-three {
    grid-row-start: 3;
    grid-column-start: 1;
}

#number-one, #number-two, #number-three {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
    color: white;
}

/* Betting Office Modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modalHeader {
    padding: 2px 16px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBody {
    padding: 2px 16px;
    margin-left: 20px;
}

#placeBetText {
    margin-top: 0px;
    font-weight: 600;
}

#snakeChosen {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectSnail {
    margin-left: 100px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 10vw;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: url(fff-0-2.png) repeat;
    color: #000000;
    font-size: 16px;
    border: 1px solid black;
}

.modalFooter {
    padding: 2px 16px;
    background-color: #fff;
    color: #000;
}

.modalFooter p {
    margin-left: 20px;
    margin-top: 20px;
}

.modalContent {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 10px;
}

.close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: medium;
    margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalTitle {
    margin: 20px;
}

/*  Modal Animations */

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes slideOut {
    from {bottom: 0; opacity: 1;}
    to {bottom: -300px; opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*@-webkit-keyframes fadeOut { /* Add Fadeout Animation JS
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

*/

/* Modal Slider Bet Amount */

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 40vw;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .button {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      padding: 15px 70px;
      border: none;
      background: #000;
      font-size: 17px;
      cursor: pointer;
      border-radius: 4px;
      color: #fff;
      font-family: 'DM Sans', sans-serif;
      border: 1px solid black;
      transition: all ease 0.3s;
  }

    .button:hover {
      background: #fff;
      color: #000;
      border: 1px solid black;
  }

  #openModalBtn {
      position: absolute;
      bottom: 80px;
      
  }