* {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

.heading-secondary {
    margin-top: 10px;
    text-align: center;
}

.header-bar {
    margin-top: 20px;
    margin-bottom: 30px;
}

.racing-track {
    width: 1000px;
    height: 450px;
    background-color: #F4F4F4;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.track-one, .track-two, .track-three {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.track-numbers {
    font-size: 30px;
    font-weight: 600;
    color: #1b1b1b;
}

.slidecontainer {
    width: 100%;
}
  
.race-slider {
    -webkit-appearance: none;
    width: 800px;
    height: 60px;
    background: #9ed8a6;
    outline: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
  
.race-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
}
  
.race-slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
    border: #fff;
}

.buttons-container {
    margin-top: 40px;
}

.btn-secondary {
    appearance: none;
    background-color: #EFEFEF;
    color: #1b1b1b;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 25px;
}

.btn-primary {
    appearance: none;
    background-color: #68A1EF;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 25px;
}

.buttons-container button:nth-child(1) {
    margin-right: 20px;
}

.buttons-container button:nth-child(2) {
    margin-right: 20px;
}

.buttons-container button:nth-child(3) {
    margin-right: 20px;
}

[data-tab-content] {
    display: none;
}

.active {
    display: block;
}

ul li {
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    border-radius: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
