/* neomhr.css - a carefully crafted, continuously updated css libary for easy styling by @neomhr.
originally used for an application project.  */


/* Headings, Subheadings and Paragraphs */

h1 {
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #1b1b1b;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #1b1b1b;
    margin: 0px;
    padding: 0px;
}   

p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #848484;
    margin: 0px;
    padding: 0px;
}

label {
    display: inline-block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #1b1b1b;
    margin: 0px;
    padding: 0px;
}

table {
    font-family: 'Inter', sans-serif;
}

td {
    border-bottom: 1px solid #a1a1a1;
    width: 30vw;
}

thead td {
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 25px;
}

tbody td {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    font-size: 17px;
}

.small-btn-dark {
    appearance: none;
    border: none;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    background-color: #262626;
    color: #fff;
    transition: all ease 0.3s;
}

.small-btn-dark:hover {
    background-color: #3d3d3d;
    transform: translateY(-1px);
}

.small-btn-blue {
    appearance: none;
    border: none;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    background-color: #0067DE;
    color: #fff;
    transition: all ease 0.3s;
}

.small-btn-blue:hover {
    background-color: #0070f0;
    transform: translateY(-1px);
}

small-btn-blue:focus {
    outline: none;
    border: none;
}

/* Sweet Alert Libary Styles */

.swal-title {
    font-family: 'Inter', sans-serif;
}

.swal-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.swal-button--confirm {
    appearance: none;
    border: none;
    border-radius: 6px;
    padding: 15px 25px;
    color: #fff;
    background-color: #68A1EF;
    transition: all ease 0.3s;
}

.swal-button--confirm:hover {
    transform: translateY(-1px);
}

.swal-button--cancel {
    appearance: none;
    border: none;
    border-radius: 6px;
    padding: 15px 25px;
    background-color: #EFEFEF;
    color: #1B1B1B;
    font-weight: 300;
    transition: all ease 0.3s;
}

.swal-button--cancel:hover {
    transform: translateY(-1px);
    background-color: #a1a1a1;
}