body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

input:focus {
    outline-color: rgba(75, 116, 253, 0.753);;
}

.wrapper {
    width: 1100px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.section-heading {
    margin-bottom: 15px;
}

.text-input {
    width: 30vw;
    padding: 15px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.num-input {
    width: 50px;
    padding: 15px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.num-input:focus {
    outline-color:rgba(75, 116, 253, 0.753);
}

.text-input:focus {
    outline-color: rgba(75, 116, 253, 0.753);
}

::selection {
    background-color: #c4c4c4;
}

.header-bar {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 60px;
    transition: all ease 0.3s;
}

.big-title {
    margin-bottom: 15px;
}

.add-snail-btn, .delete-snail-btn {
    margin-right: 35px;
}

.add-race-btn, .delete-race-btn, .edit-race-btn {
    margin-right: 35px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-header {
    margin-left: 150px;
    margin-right: 120px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    margin-left: 150px;
    margin-right: 120px;
    margin-bottom: 100px;
}

.snail-name-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.snail-speed-container {
    display: flex;
    flex-direction: column;
}

.input-box-ar {
    margin-right: 125px;
}

.race-name-input {
    margin-bottom: 25px;
}

.new-race-name-input {
    margin-bottom: 25px;
}

.label-participants {
    margin-bottom: 10px;
}

.label-new-participants {
    margin-bottom: 10px;
}

.label-new-name {
    margin-bottom: 10px;
}

.label-new-participants {
    margin-bottom: 10px;
}

.snails-dropdown {
    -webkit-appearance: none;
    margin-bottom: 150px;
    padding: 15px 15px; 
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 28vw;
    height: 50px;
    cursor: pointer;
}

.input-box-edit-race {
    display: flex;
    flex-direction: column;
}

.new-race-name-container {
    display: flex;
    flex-direction: column;
}

.add-new-snails-container {
    display: flex;
    flex-direction: column;
}

.input-and-button-container {
    display: flex;
    flex-direction: row;
}

.edit-race-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 300px;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.input-box {
    display: flex;
}

.add-race-container {
    display: flex;
}

.modal-subheading {
    margin-bottom: 20px;
}

.feather-x {
    cursor: pointer;
    transition: all ease 0.3s;
}

.feather-x:hover {
    color: #666666;
    cursor: pointer;
}

.modal-heading {
    margin-bottom: 10px;
}

.label-name {
    margin-bottom: 10px;
}

.label-speed {
    margin-bottom: 10px;
}

.label-n-name {
    margin-bottom: 10px;
}

.label-n-speed {
    margin-bottom: 10px;
}

.snail-name-input {
    margin-bottom: 30px;
}

.snail-speed-input {
    margin-bottom: 30px;
}

::-webkit-input-placeholder { 
    font-size: 15px;
}

::-moz-placeholder { 
    font-size: 15px;
}

:-ms-input-placeholder { 
    font-size: 15px;  
}

:-moz-placeholder { 
    font-size: 15px;  
}

.label-color {
    margin-bottom: 10px;
}

.snail-color-input {
    margin-bottom: 35px;
}

.btn-blue {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 17px 40px;
    border: none;
    background: rgb(54, 100, 248);
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    transition: all ease 0.3s;
}

.btn-blue:hover {
    background: rgb(75, 117, 253);
    cursor: pointer;
}

button:disabled, input:disabled {
    background-color: #dddd;
}

button:disabled:hover, input:disabled {
    transform: translateY(0);
    background-color: #dddd;
    cursor: default;
}

#addSnailSubmitBtn span {
    transform: translateX(1px);
}

.is-empty-text {
    margin-top: 15px;
    line-height: 30px;
}

.btn-teritary {
    appearance: none;
    border: none;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-family: 'Inter';
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-teritary:hover {
    opacity: .9;
}

tr {
    transition: all 0.2s ease;
}


tr:hover, .active {
    background-color: #e6e6e6;

}

li {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;    
    margin-bottom: 10px;
}

.listItem {
    font-size: 15px;
    font-weight: 400;
}

.placeholderTable {
    line-height: 1.8;
}

.addSnailsToRaceContainer {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .header-bar {
        padding-left: 50px;
    }

    .content {
        padding-left: 50px;
        column-gap: 20px;
    }

    .modal, .modal-header {
        margin-left: 50px;
        margin-right: 50px;
    }

    .add-snail-btn, .delete-snail-btn {
        margin-right: 20px;
    }
    
    .add-race-btn, .delete-race-btn, .edit-race-btn {
        margin-right: 20px;
    }
}

/* Modal Fade/SlideIn Animations */

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

/* Modal Fadeout Slideout Animations */
/* Added as classes */

@-webkit-keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -300px; opacity: 0}
  }
  
  @keyframes slideOut {
    from {bottom: 0; opacity: 1}
    to {bottom: -300px; opacity: 0}
  }
  
  @-webkit-keyframes fadeOut {
    from {opacity: 1} 
    to {opacity: 0}
  }
  
  @keyframes fadeOut {
    from {opacity: 1} 
    to {opacity: 0}
  }

.modalAnimOut {
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeOut;
    animation-duration: 0.4s;
}

.modalContentAnimOut {
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 0.4s;
    animation-name: slideOut;
    animation-duration: 0.4s;
}

