body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1100px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.section-heading {
    margin-bottom: 15px;
}

.text-input {
    width: 30vw;
    padding: 15px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
}

.text-input:focus {
    outline: none;
}

::selection {
    background-color: #c4c4c4;
}

.header-bar {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 0.3s;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 60px;
    transition: all ease 0.3s;
}

.big-title {
    margin-bottom: 15px;
}

.add-snail-btn, .delete-snail-btn {
    margin-right: 35px;
}

.add-race-btn, .delete-race-btn, .edit-race-btn {
    margin-right: 35px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-header {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.modal-body-add-race {
    display: flex;
}

.input-box-ar {
    margin-right: 125px;
}

.race-name-input {
    margin-bottom: 25px;
}

.label-participants {
    margin-bottom: 10px;
}

.snails-dropdown {
    margin-bottom: 150px;
    padding: 15px 15px; 
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 28vw;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}



.modal-subheading {
    margin-bottom: 20px;
}

.feather-x {
    cursor: pointer;
    transition: all ease 0.3s;
}

.feather-x:hover {
    color: #666666;
}

.modal-heading {
    margin-bottom: 10px;
}

.label-name {
    margin-bottom: 10px;
}

.snail-name-input {
    margin-bottom: 30px;
}

::-webkit-input-placeholder { 
    font-size: 15px;
}

::-moz-placeholder { 
    font-size: 15px;
}

:-ms-input-placeholder { 
    font-size: 15px;  
}

:-moz-placeholder { 
    font-size: 15px;  
}

.label-color {
    margin-bottom: 10px;
}

.snail-color-input {
    margin-bottom: 35px;
}

.btn-blue {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 17px 40px;
    border: none;
    background: rgb(54, 100, 248);
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    transition: all ease 0.3s;
}

.btn-blue:hover {
    background: rgb(75, 117, 253);
    transform: translateX(2px);
}

button:disabled {
    background-color: #dddd;
}

button:disabled:hover {
    transform: translateY(0);
    background-color: #dddd;
}

#addSnailSubmitBtn span {
    transform: translateX(1px);
}

.is-empty-text {
    margin-top: 15px;
    line-height: 30px;
}

.btn-teritary {
    appearance: none;
    border: none;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 4px;
    padding: 15px 15px;
}




@media only screen and (max-width: 1000px) {
    .header-bar {
        padding-left: 50px;
    }

    .content {
        padding-left: 50px;
        column-gap: 20px;
    }

    .add-snail-btn, .delete-snail-btn {
        margin-right: 20px;
    }
    
    .add-race-btn, .delete-race-btn, .edit-race-btn {
        margin-right: 20px;
    }
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


