body {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    user-select: none;
}

* {
    font-family: 'Inter', sans-serif;
}


h1 {
    font-size: 35px;
    font-weight: 500;
}

.snail-display-title {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.race-name-title {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
}

.ranking-display-title {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

/* General Layout */

.grid-wrapper {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 20vh 1fr 25vh;
    height: inherit;
}

/* Header Bar */

.header {
    display: flex;
    justify-content: center;
    grid-column-start: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.go-back-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.go-back-text {
    margin-left: 8px;
}

.title-container {
    display: flex;
    align-items: center;
}

/* Racetrack */

.race-track {
    background-color: #95D09C;
    border-radius: 7px;
    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-rows: 7vh 1fr;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-areas: 'Headline Headline Headline'
                         'Snails Race Ranking'
    ;

}

/* Headline */

.headline {
    grid-area: Headline;
    padding-top: 12px;
    
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-areas: 'snail-title race-name ranking-title';
}

@media only screen and (min-height: 900px) {
    .headline {
        padding-top: 25px;
    }
}

.snails {
    grid-area: Snails;
    padding-bottom: 15px;
}

.track {
    grid-area: Race;
    padding-bottom: 15px;

}

.ranking {
    grid-area: Ranking;
    padding-bottom: 15px;

}

.snail-display-title-container {
    grid-area: snail-title;
}

.race-name-display-container {
    grid-area: race-name;
}

.ranking-display-title-container {
    grid-area: ranking-title;
}

.headline .snail-display-title-container,
.headline .race-name-display-container,
.headline .ranking-display-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Snail Display */

.snails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.track-num {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.snail-name-one, 
.snail-name-two,
.snail-name-three {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

.snail-one-container,
.snail-two-container,
.snail-three-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Race Track */

.track {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.track-one-container,
.track-two-container,
.track-three-container {
    display: flex;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}

input[type=range] {
    appearance: none;
    background: transparent;
}

input[type=range]:focus {
    border: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 36px;
    width: 36px;
    background: url('../assets/snail-icon.png');
    border-radius: 0 !important;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 36px;
    width: 36px;
    background: url('../assets/snail-icon.png');
    border-radius: 0 !important;
}

#raceTrackOne,
#raceTrackTwo,
#raceTrackThree {
    width: 100%;
    padding-left: 30px;
}

.goal-mark {
    transform: rotate(270deg);
    z-index: 1;
    padding: 0;
    margin: 0;
    color: gray;
}

/* Ranking */

.ranking {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ranking-text {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

/* Buttons */

.btn-primary {
    appearance: none;
    color: #fff;
    background-color: #0070E3;
    padding: 13px 36px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0178ee;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #a1a1a1;
    color: #f1f1f1;
}

.btn-secondary {
    appearance: none;
    color: #fff;
    background-color: #1A1A1A;
    padding: 13px 36px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #252525;
    cursor: pointer;
}

.buttons-container-grid-wrapper {
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
}

.button-startRace-container {
    margin-left: 30px;
}

/* Betting Office Modal */

.modal {
    display: none; /* Not visible by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-header {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal-body {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    transition: all 0.3s ease;
}

.modal-heading {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #1b1b1b;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.modal-subheading {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: #848484;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
}

.select-snail {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.choose-bet-amount {
    display: flex;
    flex-direction: column;
}

.euro-symbol-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.euro-symbol-container span {
    color: #1b1b1b;
}

.possible-win-display {
    margin-bottom: 30px;
}

.bet-amount-flex-container {
    display: flex;
    flex-direction: row;
}

input[type="number"] {
    width: 50px;
    padding: 15px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

select {
    appearance: none;
    padding: 15px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 28vw;
    height: 50px;
    cursor: pointer;
}

.label {
    display: inline-block;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #1b1b1b;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

/* Bet Marker */

.bet-marker {
    font-size: 12px;
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    bottom: -40%;
}


/* Alert Styles */

.swal-title {
    font-family: 'Inter', sans-serif;
}

.swal-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.swal-button--confirm {
    appearance: none;
    border: none;
    border-radius: 6px;
    padding: 15px 25px;
    color: #fff;
    background-color: #68A1EF;
    transition: all ease 0.3s;
}

.swal-button--confirm:hover {
    transform: translateY(-1px);
}

.swal-button--cancel {
    appearance: none;
    border: none;
    border-radius: 6px;
    padding: 15px 25px;
    background-color: #EFEFEF;
    color: #1B1B1B;
    font-weight: 300;
    transition: all ease 0.3s;
}

.swal-button--cancel:hover {
    transform: translateY(-1px);
    background-color: #a1a1a1;
}

/* Animations */

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

