body {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

p {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #8B8B8B;
}

/* Pseudo Classes */

::selection {
    background-color: #c4c4c4;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    background-color: #c4c4c4;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 30px;

}

.menuIcon {
    margin-left: 400px;
}

/* Headings */

#title{
    color: #1b1b1b;
    font-weight: 600;
}


/* Racing Track */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.racing-track {
    background-color: rgb(243, 243, 243);
    height: 400px;
    width: 1100px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.track-one, .track-two, .track-three {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.track-numbers {
    font-size: 30px;
    font-weight: 600;
    color: #1b1b1b;
}

/* Racing Track Sliders*/

.slidecontainer {
    width: 100%;
  }
  
  .race-slider {
    -webkit-appearance: none;
    width: 900px;
    height: 60px;
    background: #94D09C;
    outline: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .race-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .race-slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
    border: #fff;
  }


/* "Wettbüro" Modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modalHeader {
    padding: 2px 16px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBody {
    padding: 2px 16px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.modalFooter {
    padding: 2px 16px;
    background-color: #fff;

}

.modalContent {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 10px;
}

.modalTitle {
    margin-bottom: 5px;
    font-weight: 600;
}

.close {
    font-size: 48px;
    margin-right: 20px;
    cursor: pointer;
}

.modalDescription {
    margin-top: 0px;
    margin-bottom: 30px;
    color: rgb(95, 95, 95);
}

.form-container {
    height: 50vh;
    width: 100vw;
}

select {
    width: 500px;
    padding: 15px 15px; 
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

select:focus {
    outline: none;
}

select option {
    font-family: 'Inter', sans-serif;
}

label {
    display: inline-block;
    margin-bottom: 15px;
}

.select-slider {
    -webkit-appearance: none;
    width: 500px;
    height: 15px;
    background: #f1f1f1;
    outline: none;
    border: none;
    border-radius: 40px;
    margin-bottom: 15px;
}

.select-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(54, 100, 248);
    cursor: pointer;
    border-radius: 25px;
}

#submitBet {
    margin-left: 0px;
    margin-top: 20px;
}

/*  Modal Animations */

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

@keyframes slideOut {
    from {bottom: 0; opacity: 1;}
    to {bottom: -300px; opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Buttons */

.button-dark {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 17px 40px;
    border: none;
    background: #242424;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    transition: all ease 0.3s;
}

.button-dark:hover {
    background:#000;
    transform: translateY(-2px);
}

.button-blue {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 17px 40px;
    border: none;
    background: rgb(54, 100, 248);
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    transition: all ease 0.3s;
}

.button-blue:hover {
    background: rgb(34, 84, 250);
    transform: translateY(-2px);
}

.button-dark, .button-blue {
    margin: 10px;
}

.button-dark:focus, .button-blue:focus {
    outline: none;
}

.ui-element-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.buttons-container {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}