body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'DM Sans', sans-serif;
    overflow-y: hidden;
}

::selection {
    background-color: #c4c4c4;
}

.overlay {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h3 .footer-section-strong {
    font-weight: 600;
    text-decoration: none;
    color: #1b1b1b;
}

h3 .footer-section-strong:hover {
    color: #474747;
    transition: ease all 0.3s;
}

.floating-literal-r, .floating-literal-a, .floating-literal-c, .floating-literal-e {
    font-size: 200px;
    color: #65D36E;
    font-weight: 800;
    font-family: 'Proxima Nova', sans-serif;
}

.floating-literal-r {
    position: relative;
    top: 0%;
}

.floating-literal-a {
    position: relative;
    top: 50%;
}

.button-section {
    display: flex;
    justify-content: center;
}

.button-dark {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 17px 40px;
    border: none;
    background: #242424;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    transition: all ease 0.3s;
}

.button-dark:hover {
    background:#000;
    transform: translateY(-2px);
}

.button-blue {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 17px 40px;
    border: none;
    background: rgb(54, 100, 248);
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    transition: all ease 0.3s;
}

.button-blue:hover {
    background: rgb(34, 84, 250);
    transform: translateY(-2px);
}

.button-dark, .button-blue {
    margin: 10px;
}

.button-dark:focus, .button-blue:focus {
    outline: none;
}

.button-blue button {
    margin-right: 100px;
}

.footer-section {
    display: flex;
    justify-content: center;
}

.button-section a {
    text-decoration: none;
}

ul .transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px ;
    pointer-events: none;
    list-style-type: none;
}

ul .transition li {
    transform: scaleY(0);
    background: #ffff;
    width: 20%;
}